<p>

  <%= @article.title %>
</p>

<p>

   <%= image_tag @article.image.url%>
</p>
<%= link_to "EDIT", edit_article_path, remote: true, class: "btn btn-primary" %>
<%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>


<div id="myModal"></div>