
@import "bootstrap-sprockets";
@import "bootstrap";
@import "masonry/fluid";

img {
    max-width: 100%;
    max-height: 100%;
    padding:0px;

}

body{
  margin:0px;
}


.navbar {
  position:relative;

max-width:100%;
border-bottom: 1px solid lightgray;
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.navlinks{
  position:relative;
  display:inline-block;
  float:right;
  margin-right:30px;
}

.navbar h5 {
  position:relative;

  display:inline-block;
  margin-bottom:auto;
  margin-top:20px;

  margin-right:15px;

  padding:auto;
}

.navbar h5:hover{
  border-bottom: 2px solid black;
  cursor:pointer;
}

.navbar button {
  position:relative;

  background-color: #1a85ff;
  border-radius:4px;
  color:white;
  padding: 13px 12px 12px 12px;
}

.navbar button:hover {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.6);
  cursor:pointer;
  text-allign:center;
  }


.btn-outline-success {
  color:white;
  text-decoration:none;
}


.article-header {
margin-top: 60px;
margin-bottom: 60px;

 text-align:center;
}

.article-header h1 {
  margin-top:3px;
  font-size:70px;
  font-weight: 600;
}

.article-header h5 {
margin-bottom:3px;
}

.row.masonry-container{

  max-width:75%;
  margin-left:auto;
  margin-right:auto;
  padding:0px;
}

.content {
  padding:15px;
  text-overflow:scroll;
}

.box.col-md-6 {
   box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.15);
   margin-top:10px;
   margin-bottom:10px;
   margin-right:20px;
   margin-left:20px;
   max-width:45%;
   padding:0px;
}

.modal-dialog {
    max-width: 376px !important;
   color: #1a85ff;
   border-radius:4px;
}

.modal-header {
  background-color: #1a85ff;
  color:white;
  font-size:50px;
}

h4.modal-title.text-center  {
  font-size:32px;
}

input {
  width:100%;
  margin-top:10px;
  border-radius: 4px;
  font-size: 20px;
  border: 2px solid #d5ebfe;
  padding: 10px;
  color: #444;
}



.form-input-field {
  text-align:center;
  width:100%;
}


textarea.form-input-field-post1 {
  margin-top:10px;
  height:150px;
  padding:10px;
  resize: none;
  width:100%;
  font-size: 20px;
  border: 2px solid #d5ebfe;
  border-radius: 4px;
  color: #444;
}

.image-field {
  text-align:center;
}

.image-select {
float:left;
text-align:center;
}

.form-button input {
text-align:center;
color:white;
background-color: #1a85ff;
}

button.close{
  color:white;

}


.show {
  margin-top:60px;
  width:50%;
  margin-right:auto;
  margin-left:auto;
}

.image-show {
  max-width:100%;
  max-height:100%

}

.show h1 {
  text-align:center;
}

.show h3 {
  text-align:center;
  font-weight:125;
  letter-spacing:1px;
  line-height:2;
}

.timestring {
  margin-top:5px;
}

.info {
  margin-bottom:30px;
}

.post {
  width:100%;
  hyphens: auto;
}







