<div class="navbar">
  <%= link_to root_path do %>
  <%= image_tag("brand", :alt=>"logo") %>
  <%end%>
  <div class="navlinks">
   <h5>CANDIDATES</h5>
    <h5>EMPLOYERS</h5>
     <h5>FAQ</h5>
      <h5>LOG IN</h5>
      <%= link_to "NEW POST", new_article_path, remote: true, class: "btn btn-primary" %>
     </div>
</div>